<server>

    <include location="../fatTestPorts.xml"/>
    
    <featureManager>
        <feature>metatype-1.0</feature>
        <feature>configfatlibertyinternals-1.0</feature>
		<feature>servlet-3.0</feature>
        <feature>appSecurity-2.0</feature>
    </featureManager>
    
    <include location="full.xml"/>
    
    <include optional="true" location="bvtTestPorts.xml"/>
        
    <person firstName="Jane" lastName="Doe"/>
            
    <threadPool id="ejb" maxThreads="10" minThreads="5" />
    
    <quickStartSecurity userName="" userPassword="t3st" />
        
</server>
