<server>
  <featureManager>
    <feature>jndi-1.0</feature>
    <!-- <feature>osgiConsole-1.0</feature> -->
    <feature>persistentExecutor-1.0</feature>
    <feature>servlet-3.1</feature>
    <feature>jdbc-4.2</feature>
  </featureManager>

  <include location="../fatTestPorts.xml"/>

  <persistentExecutor jndiName="concurrent/myScheduler" taskStoreRef="DBTaskStore" retryLimit="1" initialPollDelay="10s"/>
  <databaseStore id="DBTaskStore" dataSourceRef="DemoDB"/>

  <!-- database for scheduled tasks -->
  <dataSource id="DemoDB" jndiName="jdbc/DemoDB" type="javax.sql.XADataSource">
    <jdbcDriver libraryRef="FATJDBCLib"/>
    <properties.derby.embedded createDatabase="create" databaseName="${shared.resource.dir}/data/persistdemodb"/>
  </dataSource>
  <library id="FATJDBCLib">
    <fileset dir="${server.config.dir}/derby" includes="derby.jar"/>
  </library>

  <variable name="onError" value="FAIL"/>
  
  <javaPermission codebase="${server.config.dir}/derby/derby.jar" className="java.security.AllPermission"/>
</server>