<server>
    <include location="../fatTestPorts.xml"/>
    
    <featureManager>
        <feature>servlet-3.0</feature>
        <feature>jsonp-1.0</feature>
    </featureManager>
    
    <application id="customLibJSONPWAR" name="customLibJSONPWAR" type="war" location="customLibJSONPWAR.war">
        <classloader commonLibraryRef="JSONPProviderLib, global"/>
    </application>
	
    <library id="JSONPProviderLib">
        <fileset dir="${server.config.dir}/JSONPProviderLib" includes="customLibJSONPProvider.jar"/>
    </library>

</server>
