<server>
    <featureManager>
      <feature>componenttest-1.0</feature>
      <feature>jsonbContainer-1.0</feature>
      <feature>servlet-3.1</feature>
      <feature>usr:testFeatureUsingJsonb-1.0</feature>
    </featureManager>

	<include location="../fatTestPorts.xml"/>

    <library id="refImpls">
      <fileset dir="${shared.resource.dir}/refImpls" includes="*.jar"/>
    </library>

    <bell libraryRef="refImpls"/>

    <application location="jsonbapp.war"/>

    <variable name="onError" value="FAIL"/>
</server>