<server description="new server">

	<include location="../fatTestPorts.xml" />

	<!-- Enable features -->
	<featureManager>
		<feature>servlet-3.0</feature>
		<feature>osgiconsole-1.0</feature>
		<feature>httpservice-2.2</feature>
		<feature>metatypeProviderTest-1.0</feature>
		<feature>configfatlibertyinternals-1.0</feature>
	</featureManager>


	<test.metatype.provider.plant id="fern" name="Fern"/>
	<animal name=" marmot  " lifespan="1000d" eatsRef="fern"/>
	
	<application id="metatypeprovider" name="metatypeprovider" type="war"
		location="metatypeprovider.war" />

</server>