<server>
    <featureManager>
        <feature>concurrent-1.0</feature>
        <feature>ejbLite-3.2</feature>
        <feature>servlet-3.1</feature>
        <feature>componentTest-1.0</feature>
    </featureManager>

    <include location="../fatTestPorts.xml"/>

    <variable name="onError" value="FAIL"/>

    <managedScheduledExecutorService jndiName="concurrent/executorWithoutJeeMetadata">
      <contextService/>
    </managedScheduledExecutorService>
</server>