<server>
    
    <include location="../fatTestPorts.xml"/>
    
    <featureManager>
        <feature>servlet-3.0</feature>
        <feature>configfatlibertyinternals-1.0</feature>
    </featureManager>
    
    <application id="restart" name="restart" type="war" location="restart.war"/>
    
     
    <com.ibm.ws.config updateTrigger="mbean" />
      
    <!-- 
    <singleton-one value="abc" /> 
    -->
    <singleton-two value="def" />
    
    <!--
    <factory id="1" name="one" />
    -->  
    <factory id="2" name="two"  />
    <factory id="3" name="three" />
    
</server>
